/* Para comentar todo usa ctrl+k+c */
/* Para descomentar todo usa ctrl+k+u */

/*tags style*/
/* The font-family CSS property specifies a prioritized list of one or more font family names and/or generic family names for the selected element. */
/* The font-weight CSS property sets the weight (or boldness) of the font. The weights available depend on the font-family that is currently set. */
/* The font-size CSS property sets the size of the font. Changing the font size also updates the sizes of the font size-relative <length> units, such as em, ex, and so forth. */

body{
    font-family: 'Comics Sans', 'Tahoma', 'Arial';
    font-weight: 10;
    font-size: 10px;
    color: #363636;
    background-color: #ededed;
}
/*header*/
/* The text-transform CSS property specifies how to capitalize an element's text. It can be used to make text appear in all-uppercase or all-lowercase, or with each word capitalized. It also can help improve legibility for ruby. */
h1{
    text-transform: capitalize;
    text-align: center;
}
h1 span{
    color: coral;
}
/*id's style*/
/* The border-bottom shorthand CSS property sets an element's bottom border. It sets the values of border-bottom-width, border-bottom-style and border-bottom-color. */
#photo-header{
    text-align: center;
    border-bottom-color: brown;
    border-bottom-width: 5px;
    border-bottom-style: double;
}
/* The border-radius CSS property rounds the corners of an element's outer border edge. You can set a single radius to make circular corners, or two radii to make elliptical corners. */
#photo img{
    background-color: blueviolet;
    border-radius: 50%;
    width: 100px;
}

 /*class's style*/
.container{
    max-width: 800px;
    background-color: rgb(23, 209, 147);
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 40px;
}
/* The list-style-type CSS property sets the marker (such as a disc, character, or custom counter style) of a list item element. */
.menu ul{
    text-align: center;
    margin: auto;
    padding: 0%;
    list-style-type: none;
}
/* The display CSS property sets whether an element is treated as a block or inline element and the layout used for its children, such as flow layout, grid or flex. */
/* The position CSS property sets how an element is positioned in a document. The top, right, bottom, and left properties determine the final location of positioned elements. */
.menu ul li{
    display: inline-block;
    position: relative;
}

.menu ul li a{
    background-color: #363636;
    color: #ededed;
    font-size: 10px;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.menu ul li ul{
    position: absolute;
    top: 25px;
    left: 0;
    list-style-type: none;
    display: none;
    height: auto;
}

.menu ul li:hover ul{
    display: block;
}

.menu ul li ul li{
    display: block;
    width: 60px;
    height: 20px;
    margin: 0;
    text-align: left;
    font-size: 14px;
}

/* Fin del header */

h2{
    color: #f0563d;
    text-transform: uppercase;
}
/* In CSS, ::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default. */
h2::before{
    content: "// ";
}

.clearfix:before{
    display: table;
    line-height: 1;
    content: "/";
}
/* The float CSS property places an element on the left or right side of its container, allowing text and inline elements to wrap around it. The element is removed from the normal flow of the page, though still remaining a part of the flow (in contrast to absolute positioning). */
.pull-left{
    float: left;
}
.row{
    padding-left: 10px;
    padding-bottom: 10px;
}
.col-60{
    width: 60%;
}
.col-10{
    width: 10%;
}
.col-80{
    width: 80%;
}
.col-90{
    width: 90%;
}
.col-20{
    width: 20%;
}
/*Education*/
/* The list-style CSS shorthand property allows you to set all the list style properties at once. */
.education ul{
    list-style: none;
    margin:0;
    padding: 0; 
}
.education .year {
    font-size: 1.1em;
    font-weight: bold;
    }
    
    /* The box-sizing CSS property sets how the total width and height of an element is calculated. */
.education .description {
    background: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box; 
    }
.education .description h3, .education .description p{
    margin-top: 0;
    margin-bottom: 0;
    }
.education .description p::after {
    content: "";
    position: absolute;
    border: 8px solid transparent ;
    border-right: 8px solid #EEEEEE ;
    top: 5px;
    left: -16px;
    }
.parrafo{
    display: flex;
}

.experience .job .where{
    font-size: 1.2em;
    font-weight: bold;
}

.year{
    font-size: 0.8em;
}

.profesion{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3em;
    font-size: 0.9em;
    text-align: justify;
}

.description{
    margin-top: 0;
    margin-left: 2em;
    text-align: justify;
}

.containerskill[data-percent="80"] {
    width: 80%;
    background-color: #aa3535;
  }
  
  .skills {
    margin: 0;
    padding: 0;
  }
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}